.base {
}

.item {
  transition: all 300ms ease;
  position: absolute;
  left: 0;
}

.slider {
  height: 382px;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  overflow: hidden;
}
